<router-outlet />

<!-- <div>
  Today's date :- {{presentDate}}
</div>

<hr>

<div>
  Today's date :- {{presentDate | date}}
</div>

<hr>

<div>
  This is a short date :- {{presentDate | date:'shortDate'}} <br>
  This line shows the full date :- {{presentDate | date:'fullDate'}} <br>
  This will show a formatted date :- {{presentDate | date:'M/dd/yyyy'}} <br>
  This indicates the hours and minutes :- {{presentDate | date:'h:mm'}} <br>
  Ethan James G. Gonzales
</div>

<hr>

<div>
  Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br>
  Date with lowercase :- {{presentDate | date:'medium' | lowercase}} <br>
  Date with capitalize :- {{presentDate | date:'fullDate' | titlecase}} <br>
</div>

<hr>

<div> 
  Seconds changing in Time: {{ time$ | async | date:'mediumTime' }} 
</div>

<hr>

<h2>Json Pipes!</h2>
<p>Object: {{ testObject }}</p>
<p>Object with JsonPipe: {{ testObject | json }} </p>
<p>Array: {{ testArray }}</p>

<hr>

<h3>Currency Pipe</h3>
<p>{{ price | currency:'':true }}</p>
<p>{{ price | currency:'INR' }}</p>
<p>{{ price | currency:'PHP' }}</p>

<hr>

<div>
  <h3>Start index :- {{Fruits | slice:2}}</h3>
  <h4>Start and End index :- {{Fruits | slice:1:4}}</h4>
  <h5>Negative index :- {{Fruits | slice:-2}}</h5>
  <h6>Negative Start and End index :- {{Fruits | slice:-4:-2}}</h6>
  <h2>Start and End index ;- {{Fruits | slice:2:5}}</h2>
</div>

<hr>

<div style="text-align: center;">
  <h3>Decimal Pipe</h3>
  <p>{{decimalNum1 | number}}</p>
  <p>{{decimalNum2 | number}}</p>
  <p>{{decimalNum3 | number}}</p>
</div>

<br>

<div style="text-align: center;">
  <h3>Decimal Pipe</h3>
  <p>{{decimalNum1 | number:'3.1'}}</p>
  <p>{{decimalNum2 | number:'2.1-4'}}</p>
  <p>{{decimalNum3 | number:'3.2'}}</p>
</div> -->

<div>
  <h1>Ng Services</h1>
  <h3>By Ethan James Gonzales (WD-302)</h3>
</div>

<div>
  <p>{{todaydate}}</p>
</div>

<hr>

{{todaydate}} <br>
{{componentproperty}}
<app-new-cmp></app-new-cmp>